html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
button , input{
    font-family: inherit;
}
button:focus{
    outline: none;
}
/* .header{
    position: relative;
}
.header::before{ 
    content: " ";
    background: url(../2rNl.gif) no-repeat ;
    background-size: cover;
    width: 100%;
    opacity: .1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px -30px 30px #3d6ab2 inset ;
    pointer-events: none;
} */

/*   --------

    style

 -------  */

 body{
    font-family: "Vazir";
    background: #373b44; 
    background: -webkit-linear-gradient(to top, #373b44, #4286f4); 
    background: linear-gradient(to top, #373b44, #4286f4);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body::after{
    content: " ";
    background: url(../background/2rNl.gif) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .05;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.navbar .nav {
    display: flex;
    justify-content: center;
    align-items: center;

}


.navbar .nav .nav-item a{
    display: inline-block;
    padding: 2rem .5rem 0;
    color: #fff;
    transition: all .2s ease;
}
.navbar .nav .nav-item a:hover{
    color:#394b6e;
}


@media( min-width: 768px){ 
    .navbar .nav {
        display: flex;
        justify-content: flex-end;
        padding-left: 5rem;
        }
}


.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.header-section .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

@media( min-width: 768px){
    .header-section{
        flex-direction: row;
    }
}

.brand .brand-text{
    width: 100%;
    font-size: .7rem;
    text-align: center;
}

.brand .brand-name img{
    width: 250px;
    height: 130px;
    border-radius: 15px;
}

@media (min-width : 768px){
    .brand .brand-name img{
        width: 350px;
    }
    .brand .brand-text{
        padding-right: 1.4rem;
        text-align: right;
    }
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .main-text{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: .5rem;
}


.login-btn  {
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: .4rem .5rem;
    font-size: 1.2rem;
    color: #fff;
    background: #2ebf91;;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.login-btn:hover{
    background: #1b8664;
}


main .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .form-box form .input-group{
    width: 300px;
    margin-bottom: .5rem;
    position: relative;
}




main .form-box form input ,
main .form-box form select {
    width: 100%;
    text-align: right;
    font-family: inherit;
    padding: .4rem .4rem;
    font-size: 1rem;
    border-radius: 10px;
    color: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
}

main .form-box form .input-group select {
    padding-left: .5rem;
    -moz-appearance :none;
    scrollbar-width: thin;
}

main .form-box form .input-group select::-webkit-scrollbar{
    width: 5px;
}

main .form-box form .input-group select::-webkit-scrollbar-thumb{
    background-color: #4286f4;
}



main .form-box form input[name="state_destination"],
main .form-box form input[name="city_destination"]{
    position: absolute;
    opacity: 0;
    top: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    padding:0;
}



@media (max-width: 355px){
    main .form-box form input,
    main .form-box form .input-group,
    .login-btn {
        width: 250px;
        font-size: .6rem;
    }
}
main .form-box form input[name="moreDetails_destination"]{
    height: 70px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: .8rem;
    margin-bottom: .3rem;
    text-align: center;
}

main .form-box form input::placeholder{
    color: rgba(0,0,0,.4)
}
main .form-box form input::-moz-placeholder{
    color: rgba(0,0,0,.4)
}
main .form-box form input::-webkit-input-placeholder{
    color: rgba(0,0,0,.4)
}

@media (min-widtH :768px){
    main form {
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center;
    }
    main .form-box form .input-group{
        width: calc(50% - 2rem);
    }

    main .form-box form .input-group.right-{
        margin-left: 2rem;
    }

    
    main .form-box form .input-group.left-{
        margin-right: 2rem;
    }

    main .form-box form input:nth-last-child(4){
        width: 100%;
    }
}


@media( min-width: 768px){
    main .form-box form .input-group input,
        main .form-box form .input-group select{
        font-size: .65rem;
    }
}

@media( min-width: 1024px){
    main .form-box form .input-group input,
    main .form-box form .input-group select{
        font-size: 1rem;
    }
}
/* ---------- */
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1.5rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-section h3{
    text-align: center;
    font-size: .6rem;
    color: #fff
}

.footer-section .contanct-us{
    order: -1;
}

.footer-section .contanct-us a{
    display: inline-block;
    color: #fff;
    font-size: .8rem;
    padding: .5rem;
    transition: all .2s ease;
}
.footer-section .contanct-us a:hover{
    color:#191f2b;
    transform: scale(1.1);
}
@media (min-width: 768px){

    .footer-section{
        flex-direction: row;
        position: relative;
    }
    .footer-section h3{
        text-align: center;
        font-size: 1rem;
    }
    .footer-section .contanct-us{
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 0;
        position: absolute;
        left: 1%;
        bottom: 70%;
    }
}
@media(min-width: 1024px){
    .footer-section .contanct-us{
        bottom: 15%;
    }
}





/* validation style */

.form-error{
    display: none;
    width:100%;
    font-size: .7em;
    margin-top: .2rem;
}

.form-error strong{
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    padding: 0 .5rem;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.active{
    display: block;
}

main .form-box form input.input-active ,
main .form-box form select.input-active{ 
    padding: .3rem .4rem; 
    font-size: .8rem ;
}